<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JoBeland.Logging" version="1.0.0.0" targetFramework="net451" />
  <package id="log4net" version="2.0.8" targetFramework="net451" />
  <package id="NeuralNetwork" version="7.4.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net451" />
</packages>